#loader{
    display: none;
}
#loader.loading{
    display: block;
}

h2{
    background-color: rgb(145, 7, 103);
   text-align: center;
   
} p{
    background-color: pink;
}
#posts{
    display: block;
    margin: auto;
    background-color: aquamarine;
    border: solid 2px green;
    width: 250px;
}
img{
    display: block;
    margin: auto;
}
